<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Profile</title>
  <link rel="stylesheet" href="/css/professor-profile.css">
  <script src="https://kit.fontawesome.com/0f0e261005.js" crossorigin="anonymous"></script>
  <script src="/JavaScript/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <script src="/JavaScript/professor-profile.js"></script>
</head>
<body>
<div class="main-container">

  <!-- LEFT-CONTAINER -->
  <div class="left-container">
    <div class="">
      <!-- MENU BOX (LEFT-CONTAINER) -->
      <ul class="">
        <li id="profile">
          <span>Profile</span>
        </li>
        <li>
          <button id="dashboard" class="sidebar">Dashboard</button>
        </li>
        <li>
          <button id="all_course" class="sidebar">Courses</button>
        </li>
        <li>
          <button class="sidebar" id="all_quizzes">Quizzes</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- RIGHT-CONTAINER -->
  <div class="right-container">
    <!-- HEADER -->
    <header class="right-container-header">
      <ul class="">
        <li>
            <span class="profile-picture">
              <span class="picture">
                <i style="color: rgb(177, 177, 177);" class="fas fa-user fa-1x"></i>
                <span class="tooltip">
                  <a href="#">option</a>
                  <a href="#">option</a>
                  <a href="#">Settings</a>
                  <form method="POST" action="/logout">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" name="submit_param" value="submit_value">logout</button>
                  </form>
                </span>
              </span>
              <span class="admin">Professor</span>
            </span>
        </li>
      </ul>
    </header>

    <div id="messages">
      <p id="message_text"></p>
    </div>

    <div class="dashboard">
      <!-- <p>dashboard</p> -->
    </div>

    <!-- start of right container courses button -->
    <div class="courses">
      <div class="course-up-container">
        <table>
          <thead>
            <tr>
              <th>Num</th>
              <th>Title</th>
              <th>Course Id</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody id="records_table_body_professor_course">
          </tbody>
        </table>
      </div>

      <div class="course-down-container">
        <button id="previous" class="previousAndNextButton" type="button">PREVIOUS</button>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <button id="next" class="previousAndNextButton" type="button">NEXT</button>
      </div>
    </div>
    <!-- end of right container courses button -->

    <!-- start of right container quizzes button -->
    <div class="user_information_table course-up-container display_none" id="quiz_table">
      <span class="" id="quiz_information_table">
          <table>
            <thead>
              <th>Num</th>
              <th>Title</th>
              <th>Description</th>
              <th>Time</th>
              <th>Question Sheet</th>
            </thead>
            <tbody id="quiz_info_tbody"></tbody>
          </table>
      </span>
    </div>
    <!-- end of right container quizzes button -->

    <!-- start of right container question sheet table -->
    <div class="user_information_table course-up-container display_none" id="question_sheet_table">
      <span class="margin-top-30px quiz_option_table" id="questions_table">
        <table style="width: 100%">
          <tbody id="questions_table_body"></tbody>
        </table>
      </span>
    </div>
    <!-- end of right container question sheet table -->

    <!-- quiz information after click on info button in course table -->
    <div id="course_table_quizInformation" class="user_information_table course-up-container display_none">
        <span id="course_table_quiz_information" class="">
            <table>
              <thead>
                <th>Num</th>
                <th>Title</th>
                <th>Description</th>
                <th>Time</th>
                <th>Edit</th>
                <th>Delete</th>
              </thead>
              <tbody id="course_table_quiz_info"></tbody>
            </table>
        </span>
        <span class="margin-top-50px">
            <button class="red_button course_edit_button_cancel" type="button" onclick="$(this).quiz_back_function()">Back</button>
            <button class="green_button course_edit_button_cancel" type="button" onclick="$(this).quiz_create_function()">Create</button>
        </span>
    </div>
    <!-- end of quiz information table -->

    <!-- start of create page for quiz -->
    <div id="create_quiz" class="user_information_table centralized_element height_100vh display_none">
        <span id="create_quiz_id">
          <form action="" method="post" id="submit_new_quiz" class="course-up-container centralized_element">
            <input id="quiz_title_id" type="text" placeholder="Enter Title" required>
            <input id="quiz_description_id" type="text" placeholder="Enter Description" required>
            <input id="quiz_time_id" type="number" min="0" max="360" placeholder="Enter Quiz Time(Min)" required>

            <span class="margin-top-50px">
              <button type="submit">Submit</button>
              <button class="red_button course_edit_button_cancel" type="button" onclick="$(this).quiz_back_function()">Back</button>
            </span>
          </form>
        </span>
    </div>
    <!-- end of create page for quiz -->

    <!-- edit quiz table information -->
    <div id="edit_quiz_table" class="user_information_table course-up-container">
      <form id="submit_quiz_change_info_data" class="centralized_element">
        <Table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Quiz Time</th>
              <th>Add Question</th>
            </tr>
          </thead>

          <tbody id="edit_course_table_body">
          <tr>
            <td><input id="quiz_edit_title" type="text" required/></td>
            <td><input id="quiz_edit_description" type="text" required/></td>
            <td><input id="quiz_edit_time" type="number" min="0" max="360" required/></td>
            <td>
              <button class="gray_button" id="quiz_question_sheet" onclick="$(this).chose_source()" type="button">Add
                Question
              </button>
            </td>
          </tr>
          </tbody>
        </Table>

        <span class="margin-top-30px" id="question_source_button">
          <button class="gray_button" id="from_question_bank_button" onclick="$(this).question_bank()" type="button">From Question Bank</button>
          <button class="gray_button" id="new_question_button" onclick="$(this).add_question()" type="button">New Question</button>
        </span>

        <span class="margin-top-30px quiz_option_table" id="question_bank">
          <table style="width: 100%">
            <tbody id="question_bank_table_body"></tbody>
          </table>
        </span>

        <span class="margin-top-30px" id="add_quiz_button">
          <button class="gray_button" id="quiz_add_button_essays" onclick="$(this).add_essays()" type="button">Add Essays</button>
          <button class="gray_button" id="quiz_add_button_multipleChoice" onclick="$(this).add_multipleChoice()"
                  type="button">Add Multiple Choice</button>
        </span>

        <span class="margin-top-30px">
          <button class="green_button" id="course_edit_button_save" type="submit">Save</button>
          <button class="red_button course_edit_button_cancel" id="course_edit_button_cancel" type="button"
                  onclick="$(this).quiz_back_function()">Cancel</button>
        </span>
      </form>
    </div>
    <!-- end of edit quiz table information -->


    <!-- start of add essays form -->
    <div class="user_information_table course-up-container" id="add_essays">
      <form action="" class="centralized_element" id="add_essays_form" method="post">
        <div class="add-question-div">
          <span>
            <label for="add_essays_title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTitle:</label>
            <input id="add_essays_title" required type="text"/>
            <label for="add_essays_score">Score:</label>
            <input id="add_essays_score" type="number"/>
          </span>

          <input id="essays_id" type="hidden">

          <span class="margin-top-30px" style="display: flex; align-items: flex-start">
            <label for="add_essays_question">Question:&nbsp</label>
            <textarea cols="50" id="add_essays_question" required rows="5"></textarea>
          </span>
        </div>
        <span class="margin-top-30px">
          <button class="green_button" id="essays_add_button_save" type="submit">Save</button>
          <button class="red_button course_edit_button_cancel" id="add_essays_button_cancel"
                  onclick="$(this).quiz_back_function()" type="button">Cancel</button>
        </span>
      </form>
    </div>
    <!-- end of add essays form -->

    <!-- start of add multiple choice form -->
    <div class="user_information_table course-up-container" id="add_multipleChoice">
      <form action="" class="centralized_element" id="add_multipleChoice_form" method="post">
        <div class="add-question-div">
          <span>
            <label for="add_multipleChoice_title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTitle:</label>
            <input id="add_multipleChoice_title" required type="text"/>
            <label for="add_multipleChoice_score">Score:</label>
            <input id="add_multipleChoice_score" type="number"/>
          </span>

          <span class="margin-top-30px" style="display: flex; align-items: flex-start">
            <label for="add_multipleChoice_question">Question:&nbsp</label>
            <textarea cols="50" id="add_multipleChoice_question" required rows="5"></textarea>
          </span>

          <input id="multipleChoice_id" type="hidden">

          <span class="margin-top-30px" style="display: flex; align-items: center">
            <label for="add_multipleChoice_option">&nbsp&nbspOption:&nbsp&nbsp</label>
            <button id="add_multipleChoice_option" onclick="$(this).add_text_of_option()" type="button"><i
                    class="fas fa-plus fa-2x" style="color: #9099b7"></i></button>
            <textarea cols="24" id="text_of_option" rows="2" style="margin-left: 20px; display: none"></textarea>
            <label for="multipleChoice_correct_answer" id="multipleChoice_correct_answer_label"
                   style="display: none; margin-left: 5px">
              Correct Answer:
              <select id="multipleChoice_correct_answer"></select>
            </label>

          </span>
        </div>
        <span class="margin-top-30px">
          <button class="green_button" id="multipleChoice_add_button_save" type="submit">Save</button>
          <button class="red_button course_edit_button_cancel" id="add_multipleChoice_button_cancel"
                  onclick="$(this).quiz_back_function()" type="button">Cancel</button>
        </span>

        <span class="margin-top-50px quiz_option_table display_none" id="multipleChoice_table">
          <table>
            <thead>
              <tr>
                <td>Q:</td>
                <td id="question_text"></td>
              </tr>
            </thead>
            <tbody id="question_text_option_table_body">
            </tbody>
          </table>
        </span>
      </form>
    </div>
    <!-- end of add multiple choice form -->


  </div> <!-- end right-container -->
</div> <!-- end main-container -->
</body>
</html>