* {
	margin: 0;
	padding: 0;
}

.main-container {
	display: flex;
}

.left-container {
	/* border: 0 solid salmon; */
	width: 20vw;
}

/* right container */
.right-container {
	background-color: rgb(241, 240, 240);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

/* design right container header */
.right-container-header {
	background-color: ghostwhite;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.admin {
	margin: 5px;
	color: gray;
}

/* side bar modification */
.sidebar {
	border: 0 none white;
	height: 40px;
	width: 100%;
}

/* remove unordered list style type */
ul {
	/* text-decoration: none; */
	list-style-type: none;
}

/* select background color for all button */
button {
	background-color: white;
}

/* design button hover for all buttons */
button:hover {
	/*background-color: gainsboro;*/
	opacity: 70%;
	color: rgb(78, 116, 219);
	cursor: pointer;
}

/* profile display and position */
#profile {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* profile picture display modification */
.profile-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

/* profile picture positioning */
.picture {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 1px solid rgb(179, 92, 92);
	width: 25px;
	height: 25px;
}

.picture:hover .tooltip, .picture:hover{
	visibility: visible;
	background-color: white;
	cursor: pointer;
}

.tooltip a {
	padding: 5px;
	text-decoration: none;
	color: rgb(214, 194, 158);
}

.tooltip button {
	padding: 5px;
	color: rgb(214, 194, 158);
	border: 0 none;
}

/* modify users and all_users tab */
.users, .all_users {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;
}

/* users tab top container */
.users-up-container {
	padding-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* modify accept and reject button */
.accept-reject {
	padding-top: 20px;
}

.users-up-container table, tr, td, th {
	border-collapse: collapse;
	border: 1px solid rgb(187, 179, 168);
	padding: 5px;
	text-align: center;
}

.users-up-container tr:nth-child(even) {
	background-color: #dadada;
}

.users-up-container th {
	background-color: burlywood;
}

/* accept button design */
#accept, #add_course_button {
	background-color: rgba(16, 216, 139, 0.76);
	border: 0;
	border-radius: 5px;
	height: 30px;
	width: 60px;
	color: rgb(143, 143, 143);
}

/* reject button design */
#reject {
	background-color: rgb(224, 101, 101);
	margin-left: 15px;
	border: 0;
	border-radius: 5px;
	height: 30px;
	width: 60px;
	color: rgb(218, 216, 216);
}

/* decrease opacity of accept and reject button hover */
#accept:hover, #reject:hover {
	opacity: 70%;
}

/* positioning select-all column */
.select-all {
	display: flex;
	align-items: center;
}

/* hide input of select-all column */
.select-all input {
	opacity: 0;
}

.select-all span {
	background-color: whitesmoke;
	margin: 3px 0 0 5px;
	height: 15px;
	width: 15px;
}

/* create custom hover for select-all button */
.select-all span:hover, input:hover {
	background-color: #ccc;
	cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	height: 20px;
	width: 20px;
	background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
	margin: 2px 0 0 6px;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* users tab down container */
.users-down-container {
	padding: 40px 0 60px;
	display: flex;
}

/* update user information table header */
.user_information_table th {
	color: white;
	font-size: 20px;
}

/* user information table data left size */
.left_td_size {
	width: 250px;
}

/* user information table data right size */
.right_td_size {
	width: 400px;
}

.user_information_table button {
	border: 0 solid white;
	padding: 5px 15px;
	border-radius: 5px;
	color: black;
}

/* user info table button hover reduce opacity */
.user_information_table button:hover {
	opacity: 60%;
}

/* user info table save button decoration and color */
.user_information_table button#user_info_button_save {
	display: none;
	background-color: #0f958a;
}

/* default display for users, course and  all_users tab */
.users, .all_users, .course, .user_information_table, #edit_course_table {
	display: none;
}

.green_button {
	background-color: #0f8a95;
}

.red_button {
	background-color: #E64C65;
}

.gray_button {
	background-color: #9099b7;
}

.centralized_element {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.display_none {
	display: none;
}

.margin-top-50px {
	margin-top: 50px;
}

#course_table, #course_table_user_information {
	padding-top: 30px;
	height: 100px;
	overflow-y: auto;
}

.course {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 100vh;
}

/* design previous and next button */
.previousAndNextButton {
	background-color: rgba(184, 134, 11, 0.65);
	margin: 10px;
	border: 0;
	border-radius: 5px;
	height: 30px;
	width: 80px;
	color: rgb(255, 255, 255);
}
